body{
    font-size: 3rem;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
}

.grid{
    display: grid;
    /*

    grid-template-columns: [inicio] 1fr 1fr 1fr [fim];

    */
    grid-template-columns: [inicio] 1fr 1fr 1fr [fim];
    row-gap: 20px;
    column-gap: 20px;
}

.item1{

    /*
    ordem dos fatores do grid-area:
    grid-row-start / grid-column-start / grid-row-end / grid-column-end
    */

    grid-area: span 2 / span 2;

}

.grid > div{
    border: 3px solid yellowgreen;
}